<!doctype html>
<html lang='en'>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="/styles/buttonTests.css" />
    <!-- Custom CSS -->
    <!-- Google Fonts -->
  </head>

  <body>

    <div class="container">
    <!-- Sign Up Form -->
    <form method="GET" action="/gaussian">

      <button class="button" type="submit" value="Login">Run the Matrix Identity Creator
      </button>

    </form>

    <form method="GET" action="/multiplier">
        <button class="button" type="submit" value="Ballin">Run the Matrix Multiplier</button>
    </form>

    <form method="GET" action="/inverse">
        <button class="button" type="submit" value="Eliminate">Run the Inverse Finder</button>

    </form>

    <form method="GET" action="/transpose">
        <button class="button" type="submit" value="transpose">Find the Transpose</button>
    </form>

    <form method="GET" action="/doitall">
        <button class="button" type="submit" value="TheDoer">Do it</button>
    </form>

    </div>

  </body>

</html>
